.course-box {
    background-color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0 0 8px 0 #d6d6d6;
    margin-bottom: 16px;

    &:hover {
        .image .image-overlay {
            opacity: 1;
        }
    }
    .image {
        position: relative;

        img {
            width: 100%;
            height: 280px;
            border-radius: 6px;
        }

        .image-overlay {
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .7);
            border-radius: 6px;
            transition: all ease .3s;
            @include flexbox();

            .content {
                span {
                    color: white;
                    display: inline-block;
                    border: 1px solid white;
                    padding: 5px 15px;
                    font-size: 14px;
                    border-top-left-radius: 6px;
                    border-bottom-right-radius: 6px;
                }
            }
        }
    }
    .title {
        padding: 4px 0;

        a {
            text-decoration: none;
            font-size: 16px;
            color: black;
            display: inline-block;
            width: 100%;
            transition: all ease .3s;
            font-weight: bold;

            &:hover {
                color: #1687d2;
            }
        }
    }
    .master {
        padding: 4px 0;
        color: #727272;
        border-bottom: 1px solid rgba(216, 216, 216, 0.6);

        span {
            font-size: 14px;
        }

        i {
            font-size: 14px;
        }
    }
    .statistics {
        margin-top: 8px;
        @include flexbox($j_c: space-between);

        .time {
            @include flexbox($j_c: flex-start);
            font-size: 14px;
            color: #6fc341;

            i {
                margin-left: 4px;
            }
        }

        .price {
            font-size: 16px;
            color: #eb2929;
        }
    }
}