.course-box {
    background-color: white;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0 0 8px 0 #d6d6d6;
    margin-bottom: 16px;

    &:hover {
        .image .image-overlay {
            opacity: 1;
        }
    }


    .image {
        position: relative;

        img {
            width: 100%;
            border-radius: 6px;
        }

        .image-overlay {
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .7);
            border-radius: 6px;
            transition: all ease .3s;
            @include flexbox();

            .content {
                span {
                    color: white;
                    display: inline-block;
                    border: 1px solid white;
                    padding: 5px 15px;
                    font-size: 14px;
                    border-top-left-radius: 6px;
                    border-bottom-right-radius: 6px;
                }
            }
        }
    }
}