#footer-section {
    min-height: 350px;
    background: #eec29b;
    position: relative;
    background-size: cover;
    background-position: center;
    @include font-family();

    .footer-middle {
        z-index: 10;
        margin-top: 20px;

        .footer_widget {

            h4 {
                margin-top: 30px;
                margin-bottom: 0;
                color: rgb(77, 49, 18);
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 10px;

                li {
                    padding: 4px 0;

                    a {
                        text-decoration: none;
                        font-size: 16px;
                        color: rgb(0, 0, 0);
                        display: inline-block;
                        width: 100%;
                        transition: all ease .3s;

                        &:hover {
                            color: #1687d2;
                        }
                    }
                }
            }

            p {
                margin-top: 30px;
                margin-bottom: 0;
            }

            .input-group {
                margin-top: 90px;
                @include flexbox($f_d: column);

                .input-section {
                    width: 350px;
                    margin-top: 20px;
                    position: relative;

                    form {
                        input {
                            display: inline-block;
                            width: 380px;
                            border: 1px solid rgba(88, 72, 42, 0.904);
                            border-radius: 15px;
                            padding: 8px 12px;
                            outline: none;
                        }

                        button {
                            border: none;
                            outline: none;
                            position: absolute;
                            border-radius: 15px;
                            top: 10px;
                            left: 7px;
                            background-color: transparent;
                            color: #af7d4ef5;

                            &:hover {
                                color: rgba(88, 72, 42, 0.904);
                            }
                        }
                    }
                }
            }
        }
    }

    .footer-bottom {
        margin-top: 60px;

        .footer-item-bottom {
            p {
                margin-top: 30px;
                font-size: 16px;
                text-align: center;
            }
        }
    }
}