#header-first-section {
    background-color: $color-primary;

    .menu {
        @include flexbox($j_c: space-between);

        nav {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    float: right;
                    transition: all ease .3s;
                    padding: 8px 0;

                    &:last-child {
                        a {
                            border-left: none;
                        }
                    }
                    &:first-child {
                        a {
                            padding-right: 0;
                        }
                    }

                    &:hover {
                        background-color: lighten($color: $color-primary, $amount: 10);
                        color: whitesmoke;
                    }

                    a {
                        color: white;
                        text-decoration: none;
                        padding: 2px 10px;
                        display: inline-block;
                        font-size: 14px;
                        border-left: .2px solid #252525;
                    }
                }
            }
        }
    }
}

#header-second-section {
    min-height: 500px;
    background: url('/img/background2.jpg');
    position: relative;
    background-size: cover;
    background-position: center;

    .headings {
        z-index: 10;
        @include flexbox($f_d: column);
        margin-top: 90px;

        h1 {
            color: rgb(14, 13, 13);
            font-size: 26px;
        }

        h2 {
            color: rgb(14, 13, 13);
            font-size: 18px;
            margin-top: 20px;
        }
    }

    .search-bar {
        margin-top: 90px;
        @include flexbox($f_d: column);

        .input-section {
            width: 550px;
            position: relative;

            form {
                input {
                    display: inline-block;
                    width: 100%;
                    border: 1px solid rgba(88, 72, 42, 0.904);
                    border-radius: 15px;
                    padding: 8px 12px;
                    outline: none;
                }
        
                button {
                    border: none;
                    outline: none;
                    position: absolute;
                    top: 7px;
                    left: 10px;
                    background-color: transparent;
        
                    i {
                        color: #af7d4ef5;
                    }
                }
            }
        }
    }
    .statistics {
        .items {
            @include flexbox($j_c: space-between, $f_d: row-reverse);
            max-width: 400px;
            margin: 60px auto;

            .item {
                @include flexbox($f_d: column);

                .item-icon {
                    i {
                        color: rgb(56, 27, 3);
                        font-size: 60px;
                    }
                }

                .item-value {
                    margin-top: 12px;
                    color: black;
                }

                .item-title {
                    color: black;
                }
            }
        }
    }
}

#header-third-section {
    border-bottom: 1px solid rgba(240, 217, 174, 0.884);
    box-shadow: 0 0 1px 0 rgb(250, 210, 136);

    nav {
        &.main-menu {
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                z-index: 999;

                li {
                    padding: 5px 10px;
                    float: right;
                    position: relative;

                    &:first-child {
                        padding-right: 0;
                    }

                    a {
                        text-decoration: none;
                        color: black;
                        padding: 10px 0;
                        display: inline-block;
                        font-size: 14px;
                        @include flexbox($j_c: flex-start);
                        transition: all ease .3s;

                        &:hover {
                            color: rgb(180, 145, 114);
                        }

                        span {
                            margin-left: 5px;
                        }
                    }

                    &:hover {
                        & > ul {
                            visibility: visible;
                            opacity: 1;
                        }
                    }

                    ul {
                        transition: all ease .3s;
                        visibility: hidden;
                        opacity: 0;
                        position: absolute;
                        background-color: white;
                        top: 52px;
                        right: -8px;
                        border: 1px solid rgba(88, 72, 42, 0.904);
                        box-shadow: 0 0 3px 0 #eeeeee;
                        padding: 8px 10px;
                        width: 270px;
                        border-radius: 8px;

                        li {
                            width: 100%;
                            padding-right: 0;
                            position: relative;

                            a {
                                @include flexbox($j_c: space-between);
                                padding: 0;
                            }

                            ul {
                                position: absolute;
                                opacity: 0;
                                visibility: hidden;
                                right: 260px;
                                top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
