#header-first-section {
    background-color: $color-primary;

    .menu {
        @include flexbox($j_c: space-between);

        nav {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    float: right;
                    transition: all ease .3s;
                    padding: 8px 0;

                    &:last-child {
                        a {
                            border-left: none;
                        }
                    }

                    &:hover {
                        background-color: lighten($color: $color-primary, $amount: 10);
                        color: whitesmoke;
                    }

                    a {
                        color: white;
                        text-decoration: none;
                        padding: 2px 10px;
                        display: inline-block;
                        font-size: 14px;
                        border-left: .2px solid #252525;
                    }
                }
            }
        }
    }
}

#header-second-section {
    min-height: 500px;
    background: url('/img/background2.jpg');
    position: relative;
    background-size: cover;
    background-position: center;

    .headings {
        z-index: 10;
        @include flexbox($f_d: column);
        margin-top: 90px;

        h1 {
            color: rgb(14, 13, 13);
            font-size: 26px;
        }

        h2 {
            color: rgb(14, 13, 13);
            font-size: 18px;
            margin-top: 20px;
        }
    }

    .search-bar {
        margin-top: 90px;
        @include flexbox($f_d: column);

        .input-section {
            width: 550px;
            position: relative;

            form {
                input {
                    display: inline-block;
                    width: 100%;
                    border: none;
                    border-radius: 15px;
                    padding: 8px 12px;
                    outline: none;
                }
        
                button {
                    border: none;
                    outline: none;
                    position: absolute;
                    top: 7px;
                    left: 10px;
                    background-color: transparent;
        
                    i {
                        color: #af7d4ef5;
                    }
                }
            }
        }
    }
    .statistics {
        .items {
            @include flexbox($j_c: space-between, $f_d: row-reverse);
            max-width: 400px;
            margin: 60px auto;

            .item {
                @include flexbox($f_d: column);

                .item-icon {
                    i {
                        color: rgb(56, 27, 3);
                        font-size: 60px;
                    }
                }

                .item-value {
                    margin-top: 12px;
                    color: black;
                }

                .item-title {
                    color: black;
                }
            }
        }
    }
}

