#slider {
    #header-slider {
        margin-top: 20px;

        .swiper-wrapper {
            .swiper-slide {
                .slider-box {
                    a {
                        display: inline-block;
                        width: 100%;

                        img {
                            border-radius: 12px;
                            width: 100%;
                            height: 300px;
                        }
                    }
                }
            }
        }
    }
}