@font-face {
    font-family: 'IranSans';
    src: url('/fonts/IRANSansWeb.woff2') format('woff2'),
        url('/fonts/IRANSansWeb.woff') format('woff'),
        url('/fonts/IRANSansWeb.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    @include font_family();
}

.clearfix {
    clear: both;
}

.overlay {
    position: absolute;
    background-color: $color-overlay;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}